.order-title {
  text-align: center;
  margin-top: 20px;
}

.order-detail {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-products {
  list-style-type: none;
  padding: 0;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-item img {
  margin-right: 15px;
  border-radius: 5px;
}

.payment-status {
  font-weight: bold;
  color: green;
}
